<!DOCTYPE html>
    <%- include('../partials/head'); %>
    <title>Sobre esse site</title>
<body>
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    
    <main class="container">
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Opa e ai, eu sou o Lucas Felipe, desenvolvedor júnior</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>